@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1667799588203') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fabubiaoshu:before {
  content: "\e612";
}

.icon-home:before {
  content: "\e62a";
}

.icon-iconzhengli-:before {
  content: "\e60d";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-pinpaibiaoshi_QQqun:before {
  content: "\e658";
}

